@font-face {
font-family: 'Alegreya-title';
  	src:  url('./fonts/AlegreyaSans-Medium.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
font-family: 'Alegreya-body';
  	src:  url('./fonts/AlegreyaSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

body {
    width: 100%;
    background: transparent;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;

}

#header-area {
    position: absolute;
    width: 100%;
    padding-top: 25px;
    background: transparent;
    z-index: 12000;
}

#title-area{
    width: 50vw;
    margin: 0 auto; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid rgb(179, 179, 179);
    padding: 12px;
    background: white;
}

h1 {
    padding: 0;
    margin: 0;
    font-family: 'Alegreya-title';
    font-size: 36px;
}

h2 {
    font-family: 'Alegreya-title';
    font-size: 40px;
}
p {
    font-family: 'Alegreya-body';
    font-size: 24px;  
    padding: 0;
    margin: 0;
}
p.paragraph_text {
    line-height: 1.5;
    padding: auto;
    margin: auto;
}


h3 {
   font-family: 'Alegreya-title';
   font-size: 24px;
} 

.additional-info {
    display: flex;
    align-items: first baseline;
    gap: 12px;
}

#map-container{
    position: fixed;
    width: 100%;
    height: 100vh;      
    margin-top: 0; 
}

#map {
  width: 100%;
  height: 100%;  
  background-size: cover;
  cursor: grab;
}

#red-travel-line {
    width: 100%;
    height: 100%;  
    position: fixed;
}

/* svg {
  background: url('https://www.google.nl/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png') no-repeat;
} */

.poster {
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.poster:hover {
    scale: 1.5;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.pop-up{
    visibility: hidden;
    position: fixed;
    z-index: 10000;
    background: white;
    padding: 8px 12px;
    border-radius: 18px;
    border: 1.5px solid rgb(87, 87, 87);
}
.pop-up.opened {
    visibility: visible;
    display: block;
    opacity: 1;
}
#pop-up-compass{
    visibility: hidden;
    display: none;
    position: fixed; 
    z-index: 10000;
    background: white;
    top:0;
    left:4px;
    padding: 8px 12px;
    border-radius: 16px;
    border: 1.5px solid rgb(87, 87, 87);
}
#compass-area:hover #pop-up-compass{
    visibility: visible;
    display: block;
    opacity: 1;
}
.arrow{
    position: fixed;
}
.left-arrow {
    top: 25vw;
    left: 25px;
}
.right-arrow {
    top: 25vw;
    right: 25px;
}
.page-overlay {
    z-index: 9999;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    height: 91%;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
}

#compass-area {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 18px;
    transform: scale(1.2)
}

.overlay-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row-reverse;
    margin: 6vw 8vw;
    gap: 4vw;
}

.text-area {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.image-area {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-image {
    width: 70%;
    min-width: 300px;
    transform: rotate(-20deg);
}