body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

#content {
  position: relative;
  width: 400px;
  height: 400px;
  /* background-color: #ac5; */
  border-radius: 400px;
  margin: 150px;
}

.div2 {
  position: absolute;
  width: 60px;
  height: 60px;
  /* background-color: rgb(255, 255, 255); */
  border: 1px dotted rgb(255, 255, 255);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
    font-size: 22px;
    color: rgb(255, 255, 255);
}

.label {
    color: white;
    position: absolute;
    bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;  
}
.label:hover{
    text-decoration: underline;  
}
.next {
    right: 10px;
}
.prev {
    left: 10px;
}