.about-overlay {
  display: none;
  width: 50vw;
}
.learn-more-overlay {
    width: 50vw;
}

.about-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
ol {
    margin-top: 0;
    margin-bottom: 0;
}
ol li {
    font-family: "heebo-body";
    line-height: 22px;
    font-size: 16px;
    color: var(--primary-color);
}
.inner-list {
    padding-left: 18px;
    list-style-type: disc; 
}
.inner-list li {
    padding-left: 6px; 
}
.outer-list {
    padding-left: 48px;
    font-size: 16px;
}

.about-body {
    margin-bottom: 24px;
}
.alert-overlay {
    backdrop-filter: blur(6px);
    background: var(--background-color);
    max-width: 35vw;
    z-index: 110;
    display: flex;
    flex-direction: column;
    gap: 24px;
    transform: translate(-50%, -75%);
}
.alert-button {
    padding: 6px 18px;
    align-items: center;
    color: var(--primary-color);
    font-family: "Heebo-body";
    font-size: 16px;
    border-radius: 16px;
    transition: background-color 0.3s ease;
}
.alert-button:hover {
    background-color: rgba(62, 0, 0, 0.098);
    transition: background-color 0.3s ease;
}
.alert-message {
    font-size: 16px;
    font-family: "Heebo-body";
    color: var(--primary-color);
}
.alert-message .bpm-value {
  font-family: "Heebo-title";
}

@media (max-width: 1124px) {
    .alert-overlay {
        position: fixed;
        top: 25vh;
        overflow-y: hidden;
        transform: translate(-50%, -50%);
    }
}