.about-overlay {
  display: none;
}

.about-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

ol li {
    font-family: "heebo-body";
    font-size: 18px;
    color: var(--primary-color)

}

.about-body {
    margin-bottom: 24px;
}

#learn-more-overlay {
    
}