@font-face {
font-family: 'Heebo-title';
  	src:  url('./fonts/heebo.bold.ttf') format('truetype');
}

@font-face {
font-family: 'Heebo-body';
  	src:  url('./fonts/heebo.regular.ttf') format('truetype');
}

:root {
--primary-color: #722021;
--background-color: #FDF7ED;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
}

#main-area {
    width: 100%;
    height: 100%;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}

h1 {
    font-family: 'Heebo-title';
    font-size: 24px;
    color: var(--primary-color);
}

#header-area {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

p {
    padding: 0;
    margin: 0;
    font-family: 'Heebo-body';
    font-size: 18px;
    color: var(--primary-color)
}

button {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
}

.settings-button {
    position:absolute;
    left: 10px;
    top: 10px;
    padding: 18px 24px;
}


#heart-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shape {
    width: 20px;
    height: 20px;
    background-color: #722021;
    will-change: transform;
}

.disclaimer {
    font-family: "Heebo-body";
    font-size: 12px;
    color: var(--primary-color);
}

.sidebar-area {
    position: absolute;
    left: 10px;
    top: 84px;
}