.overlay {
    position:fixed;
    display: flex;
    flex-direction: column;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 36px 48px;
    border: 1px solid var(--primary-color);
    border-radius: 18px;
    background: rgba(253, 247, 237, 0.50);
    width: 70vw;
    min-width: 300px;
}

.close-icon{
    position: absolute;
    right:10px;
    top:10px;
}

.content-area{
    display: flex;
    gap: 56px;
}

.data-area {
    display: flex;
    flex-direction: column;
    min-width: 250px;
}

.instruction-area{
    display: flex;
    flex-direction: column;
}

ol {
    font-family: "heebo-body";
    font-size: 12px;
    color: var(--primary-color)
}

label {
    font-family: "heebo-body";
    font-size: 12px;
    color: var(--primary-color)
}

